<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
  	<title>KOMPLEET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

	<!-- styles -->
	
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/static/blog/css/bootstrap.min.css}">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/static/blog/font-awesome/css/font-awesome.min.css}"/>
	<link rel="stylesheet" href="css/style.css" th:href="@{/static/blog/css/style.css}">
	<link rel="stylesheet" href="css/menu.min.css" th:href="@{/static/blog/css/menu.min.css}">

	<script src="js/html5shiv.js" th:src="@{/static/blog/js/html5shiv.js}"></script>
	<script src="js/respond.min.js" th:src="@{/static/blog/js/respond.min.js}"></script>
</head>

<body id="wrapper">

	<!-- /////////////////////////////////////////Navigation -->
	<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
	<nav id="mm-menu" class="mm-menu">
		<div class="mm-menu__header">
			<h2 class="mm-menu__title">KOMPLEET</h2>
		</div>
		<ul class="mm-menu__items">
			<li class="mm-menu__item">
			  <a class="mm-menu__link" href="index.html">
				<span class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
			  </a>
			</li>
			<li class="mm-menu__item">
			  <a class="mm-menu__link" href="index.html">
				<span class="mm-menu__link-text"><i class="fa fa-user"></i> Blog</span>
			  </a>
			</li>
			<li class="mm-menu__item">
			  <a class="mm-menu__link" href="single.html">
				<span class="mm-menu__link-text"><i class="fa fa-inbox"></i> About</span>
			  </a>
			</li>
			<li class="mm-menu__item">
			  <a class="mm-menu__link" href="contact.html">
				<span class="mm-menu__link-text"><i class="fa fa-heart"></i> Contact</span>
			  </a>
			</li>
		</ul>
	</nav><!-- /nav -->
	
	<!-- /////////////////////////////////////////Header -->
	<div class="top-header">
		<div class="container">
			<ul class="list-inline top-social">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="svg-container nav-svg svg-block">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
		  <g transform="translate(0,-902.36218)"></g>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
		  <path d="M 0,150 0,0 1925,0"></path>
		</svg>
	</div>
	<header id="masthead" class="site-header" role="banner" style="background-position: 50% -50px;">
		<div class="overlay"></div>
		<div class="container">
			<div class="site-branding">
				<a href="index.html" title="KOMPLEET"><img class="site-logo" src="images/logo.png" alt="KOMPLEET"></a>
			</div><!-- .site-branding -->
		</div>
		<div class="svg-container header-svg svg-block">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0,-902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 1925,0 0,150 -1925,0"></path>
			</svg>
		</div>		
	</header><!-- #masthead -->
	<!-- Header -->
	
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">
		
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-5 box-style-3" id="nav-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/1.jpg" th:src="@{/static/blog/images/1.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="single.html">Eget Metus Nec Leo</a>
								</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>	
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/3.jpg" th:src="@{/static/blog/images/3.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="single.html">Donec In Massa Libero</a>
								</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
								<a class="btn btn-1" href="single.html">Read More</a>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
						
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/5.jpg" th:src="@{/static/blog/images/5.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
								<a href="single.html">Class Aptent Taciti Urna Bibendum Id</a>
								</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
								<a class="btn btn-1" href="single.html">Read More</a>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
						
					</div>
				</div><div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/2.jpg" th:src="@{/static/blog/images/2.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="single.html">Aliquam sed Placerat Non</a>
								</h3>
								<p>Suspendisse porttitor. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
								<a class="btn btn-1" href="single.html">Read More</a>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/4.jpg" th:src="@{/static/blog/images/4.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="single.html">Tristique Et Vonvallis Commodo</a>
								</h3>
								<p>Class aptent taciti urna bibendum id. Duis a commodo lectus. Morbi id purus nec purus feugiat vestibulum. Suspendisse sapien ante, bibendum ac quam quis, imperdiet bibendum sem. Curabitur nibh magna, tristique et convallis…</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
								<a class="btn btn-1" href="single.html">Read More</a>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<div class="svg-container post-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1950 150">
								  <g transform="translate(0,-902.36218)"></g>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
								  <path d="M 0,150 0,0 1925,0"></path>
								</svg>
							</div>
							<div class="entry-thumb">
								<img class="img-responsive" src="images/6.jpg" th:src="@{/static/blog/images/6.jpg}">
								<a class="thumb-link" href="single.html"><i class="fa fa-link"></i></a>		
							</div>
							<div class="content">
								<h3 class="entry-title">
									<a href="single.html">Proin Nisi Luctus To Taciti</a>
								</h3>
								<p>Proin lobortis mattis odio non ornare. Sed tempor nisi eu hendrerit luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostravelit id sem tincidunt convallis ac eget quam. Vestibulum posuere porttitor sapien .</p>
								<span>MAY 21, 2016 BY KOMPLEET</span><br>
								<a class="btn btn-1" href="single.html">Read More</a>
							</div>
							<div class="read-more">
								<a href="single.html">Continue reading …</a>
							</div>
							<div class="svg-container post-bottom-svg svg-block">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
									<g transform="translate(0,-902.36218)"></g>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
									  <path d="m 1925,0 0,150 -1925,0"></path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
	
	<div class="svg-container footer-svg svg-block">
		
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
			<g transform="translate(0,-902.36218)"></g>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
			  <path d="m 1925,0 0,150 -1925,0"></path>
		</svg>
		</div>
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; Your Website <br/> More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->
	
	<!-- Top Slider -->
    <script src="static/js/jquery.js" th:src="@{/static/blog/js/jquery.js}"></script>
   
	<!-- Menu Js -->
	<script src="js/materialMenu.js" th:src="@{/static/blog/js/materialMenu.js}"></script>
	<script>
	  var menu = new Menu;
	</script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js" th:src="@{/static/blog/js/bootstrap.min.js}"></script>
</body>
</html>