<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjl.blog.mapper.EditerMapper">

  <insert id="insertBlogContert">
    INSERT INTO `T_BOLG_CONTENT` (
        `t_id`,
        `t_title`,
        `t_blog_content`,
        `t_state`,
        `t_start_time`,
        `t_type`
      )
      VALUES
        (
          #{blogContentBean.id},
          #{blogContentBean.title},
          #{blogContentBean.content},
          #{blogContentBean.state},
          #{blogContentBean.startTime},
          #{blogContentBean.type}
        )
  </insert>
    <select id="queryBlogContentList" resultType="com.wjl.blog.entity.BlogContentBean">
        SELECT
          `t_id` as id,
          `t_title` as title,
           SUBSTRING(`t_blog_content`,1,120) AS content,
          `t_state` as state,
          `t_start_time` as startTime,
          `t_end_time` as endTime,
          `t_sort` as sort,
          `t_number` as number,
          `t_type` as type
        FROM
          `jdbc`.`T_BOLG_CONTENT`
        WHERE T_STATE = '1'
        AND T_TYPE=#{type}
    </select>

    <select id="queryBlogContent" resultType="com.wjl.blog.entity.BlogContentBean">
        SELECT
          `t_id` as id,
          `t_title` as title,
          `t_blog_content` as content,
          `t_state` as state,
          `t_start_time` as startTime,
          `t_end_time` as endTime,
          `t_sort` as sort,
          `t_number` as number
        FROM
          `jdbc`.`T_BOLG_CONTENT`
        WHERE t_id = #{id}
    </select>

    <update id="updateBlogContent">
        UPDATE
          `jdbc`.`T_BOLG_CONTENT`
        SET
          `t_title` = #{blogContentBean.title},
          `t_blog_content` = #{blogContentBean.content},
          `t_end_time` = #{blogContentBean.endTime}
        WHERE `t_id` = #{blogContentBean.id} ;
    </update>

    <update id="deleteBlogInfo">
        UPDATE
          `jdbc`.`T_BOLG_CONTENT`
        SET
          `t_state` = '0',
          `t_end_time` = #{time}
        WHERE `t_id` = #{id} ;
    </update>

    <insert id="insertBlogSaveFail">
        INSERT INTO `jdbc`.`T_NEWS_FAIL` (
          `T_ID`,
          `T_CONTENT`,
          `T_START`,
          `T_TIME`,
          `T_TYEP`
        )
        VALUES
          (
            #{blogSaveFailBean.id},
            #{blogSaveFailBean.content},
            #{blogSaveFailBean.start},
            #{blogSaveFailBean.time},
            #{blogSaveFailBean.type}
          )
    </insert>

    <select id="queryBlogTypeList" resultType="com.wjl.blog.entity.BlogTypeBean">
            SELECT
              `T_ID` AS id,
              `T_NAME` AS name,
              `T_SORT` AS sort,
              `T_START` AS start,
              `T_TYPE` AS type,
              `T_CODE` AS code
            FROM
              `jdbc`.`T_BLOG_TYPE`
            WHERE `T_CODE` = #{blogWriteType}
            ORDER BY `T_SORT`
    </select>
</mapper>