<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjl.blog.mapper.EditerMapper">

  <insert id="insertBlogContert">
    INSERT INTO `T_BOLG_CONTENT` (
        `t_id`,
        `t_title`,
        `t_blog_content`,
        `t_state`,
        `t_start_time`
      )
      VALUES
        (
          #{blogContentBean.id},
          #{blogContentBean.title},
          #{blogContentBean.content},
          #{blogContentBean.state},
          #{blogContentBean.startTime}
        )
  </insert>

</mapper>