<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Simple example - Editor.md examples</title>
    <link rel="stylesheet" href="css/style.css" th:href="@{/static/back/edit/css/style.css}"/>
    <link rel="stylesheet" href="css/editormd.css" th:href="@{/static/back/edit/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="layout">
<header>
    <h1>Simple example</h1>
</header>
<h2 th:if="${msg != null}" th:text="${msg}" style="color: red;" align="center"></h2>
<form name="mdEditorForm">
    <div id="test-editormd">
        <textarea name="content" id="content" style="display:none;"></textarea>
    </div>
</form>
<!--<form action="markdownTest" method="post">
    <div id="test-editormd">
        <textarea style="display:none;" name="markdownContent"></textarea>
    </div>
    <button type="submit" class="btn btn-info col-md-offset-3 col-md-6">添加</button>
</form>-->
</div>
<script src="js/jquery.min.js" th:src="@{/static/back/edit/js/jquery.min.js}"></script>
<script src="js/editormd.min.js" th:src="@{/static/back/edit/js/editormd.min.js}"></script>
<script src="lib/marked.min.js" th:src="@{/static/back/edit/lib/marked.min.js}"></script>
<script src="lib/prettify.min.js" th:src="@{/static/back/edit/lib/prettify.min.js}"></script>

<script src="lib/raphael.min.js" th:src="@{/static/back/edit/lib/raphael.min.js}"></script>
<script src="lib/underscore.min.js" th:src="@{/static/back/edit/lib/underscore.min.js}"></script>
<script src="lib/sequence-diagram.min.js" th:src="@{/static/back/edit/lib/sequence-diagram.min.js}"></script>
<script src="lib/flowchart.min.js" th:src="@{/static/back/edit/lib/flowchart.min.js}"></script>
<script src="lib/jquery.flowchart.min.js" th:src="@{/static/back/edit/lib/jquery.flowchart.min.js}"></script>

<script src="js/editormd.js" th:src="@{/static/back/edit/js/editormd.js}"></script>
<script type="text/javascript">
    var testEditor;

    /*提交表单的js*/
    function contentCommit(){
        mdEditorForm.method = "post";
        mdEditorForm.action = "addText.html";//提交至服务器的路径
        mdEditorForm.submit();
    };

    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/back/edit/lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "imageUpload",
            /*指定需要显示的功能按钮*/
            toolbarIcons : function() {
                return ["undo", "redo", "|","bold", "italic","ucwords","uppercase","lowercase","|","h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","table","datetime","hr",  "||",  "watch", "fullscreen", "preview", "releaseIcon", "index"]
            },

            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts : {
                releaseIcon : "<span bgcolor=\"gray\" style=\"color: lightgreen\" >发布</span>",
                index : "<span bgcolor=\"red\">返回首页</span>",
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers:{
                releaseIcon : function(cm, icon, cursor, selection) {
                    contentCommit();//提交表单代码在下面
                },
                index : function(){
                    window.location.href = 'edit.html';
                },
            }
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>