<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Startmin - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/back/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/static/back/css/bootstrap-select.min.css}">

    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet" th:href="@{/static/back/css/metisMenu.min.css}">

    <!-- Timeline CSS -->
    <link href="../css/timeline.css" rel="stylesheet" th:href="@{/static/back/css/timeline.css}">

    <!-- Custom CSS -->
    <link href="../css/startmin.css" rel="stylesheet" th:href="@{/static/back/css/startmin.css}">

    <!-- Morris Charts CSS -->
    <link href="../css/morris.css" rel="stylesheet" th:href="@{/static/back/css/morris.css}">

    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/static/back/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css" />

    <link rel="stylesheet" href="css/editormd.css" th:href="@{/static/back/edit/css/editormd.css}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="~{back/pages/head :: header-nav}"></div>
    </nav>


    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">编辑</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            博客表单
                        </div>
                        <div class="panel-body">
                            <div class="form-group has-success">
                                <label class="control-label" for="blogTitle"><h3 >标题</h3></label>
                                <input type="text" class="form-control" id="blogTitle">

                                <label class="control-label" for="blogTitle"><h3 >类型</h3></label>
                                <select id="blogType" class="selectpicker show-tick form-control">
                                    <option th:each="blogTypeBean:${blogTypeBeans}" th:text="${blogTypeBean.name}" th:value="${blogTypeBean.type}">pen</option>
                                </select>
                            </div>

                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form name="mdEditorForm">
                                        <div id="blog-editormd">
                                            <textarea name="content" id="content" style="display:none;"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../js/jquery.min.js" th:src="@{/static/back/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js" th:src="@{/static/back/js/bootstrap.min.js}"></script>

<script th:src="@{/static/back/js/bootstrap-select.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../js/metisMenu.min.js" th:src="@{/static/back/js/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->
<script src="../js/raphael.min.js" th:src="@{/static/back/js/raphael.min.js}"></script>
<!--<script src="../js/morris.min.js" th:src="@{/static/back/js/morris.min.js}"></script>-->
<!--<script src="../js/morris-data.js" th:src="@{/static/back/js/morris-data.js}"></script>-->

<!-- Custom Theme JavaScript -->
<script src="../js/startmin.js" th:src="@{/static/back/js/startmin.js}"></script>
<script src="js/editormd.min.js" th:src="@{/static/back/edit/js/editormd.min.js}"></script>
<script src="lib/marked.min.js" th:src="@{/static/back/edit/lib/marked.min.js}"></script>
<script src="lib/prettify.min.js" th:src="@{/static/back/edit/lib/prettify.min.js}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="lib/raphael.min.js" th:src="@{/static/back/edit/lib/raphael.min.js}"></script>
<script src="lib/underscore.min.js" th:src="@{/static/back/edit/lib/underscore.min.js}"></script>
<script src="lib/sequence-diagram.min.js" th:src="@{/static/back/edit/lib/sequence-diagram.min.js}"></script>
<script src="lib/flowchart.min.js" th:src="@{/static/back/edit/lib/flowchart.min.js}"></script>
<script src="lib/jquery.flowchart.min.js" th:src="@{/static/back/edit/lib/jquery.flowchart.min.js}"></script>

<script src="js/editormd.js" th:src="@{/static/back/edit/js/editormd.js}"></script>
<script type="text/javascript">
    var testEditor;
    var url;
    /*提交表单的js*/
    function contentCommit(){
        url = "/addBlog.html";
        var blogTitle = $("#blogTitle").val();// 博客标题
        var blogContent = $("#content").val();// 博客内容
        var blogType = $("#blogType option:selected").val();// 博客类型

        if(null == blogTitle || "" == blogTitle){
            swal({
                title: "请输入文章标题！",
                type: "error",
                icon: "error",
            });
            return;
        };

        var data = {
            "title" : blogTitle,
            "content" : blogContent,
            "type" : blogType
        };

        $.ajax({
            type: 'POST',//方法类型
            url: url,
            data: data,
            success: function (result){
                console.info(result);
                if (result.resultCode == 200) {
                    swal({
                        title: result.resultMsg,
                        text: "",
                        type: "success",
                        confirmButtonColor: '#3085d6',
                        icon: "success",
                        button: "确定",
                    }, function () {
                        window.location.href = "/welcome.html";
                    });
                }else {
                    swal(result.message, {
                        icon: "error",
                    });
                };
            },
            error: function () {
                swal({
                    title: "操作失败",
                    type: "error",
                    icon: "error",
                });
            }
        });
    };

    $(function() {
        testEditor = editormd("blog-editormd", {
            width   : "100%",
            height  : 600,
            syncScrolling : "single",
            path    : "../static/back/edit/lib/",
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "imageUpload",
            /*指定需要显示的功能按钮*/
            toolbarIcons : function() {
                return ["undo", "redo", "|","bold", "italic","ucwords","uppercase","lowercase","|","h1","h2","h3","h4","h5","h6","|","list-ul","list-ol","table","datetime","hr",  "||",  "watch", "fullscreen", "preview", "releaseIcon", "index"]
            },

            /*自定义功能按钮，下面我自定义了2个，一个是发布，一个是返回首页*/
            toolbarIconTexts : {
                releaseIcon : "<button type=\"button\" class=\"btn btn-success\">发布</button>",
                index : "<button type=\"button\" class=\"btn btn-primary\">返回</button>",
            },

            /*给自定义按钮指定回调函数*/
            toolbarHandlers:{
                releaseIcon : function(cm, icon, cursor, selection) {
                    contentCommit();//提交表单代码在下面
                },
                index : function(){
                    window.location.href = 'welcome.html';
                },
            }
        });

    });
</script>
</body>
</html>
